.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  height: 7vh;
}

.chat-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-actions {
  display: flex;
  align-items: center;
}

.call-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4f83e1;
  padding: 0;
  margin: 0;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #4f83e1;
  overflow-y: hidden;
}

.input-form {
  display: flex;
  padding: 10px;
  flex-shrink: 0;
  background-color: white;
  height: auto;
}

textarea {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  background-color: #f3efef;
  resize: vertical;
  overflow-y: auto;
  height: fit-content;
}

button[type='submit'] {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

.messages-list {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.messages-list > *:last-child {
  margin-bottom: 10px;
}

.message-item {
  display: flex;
  margin-top: 10px;
}

.message-item.others {
  justify-content: flex-start;
}

.message-item.me {
  justify-content: flex-end;
  margin-right: 10px;
}

.message-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-content {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px 10px;
  max-width: calc(60% - 50px);
  word-wrap: break-word;
  height: fit-content;
  white-space: pre-wrap;
}

.message-item.me .message-content {
  background-color: #85ff49;
}

.message-item.me .user-icon {
  display: none;
}
