.chat-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  padding: 1rem;
  text-align: center;
  height: 60px;
}

.messages-main {
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 60px;
}

.input-footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-form textarea {
  flex-grow: 1;
  resize: none;
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
  margin-right: 0.5rem;
  max-width: calc(80% - 40px);
}

.input-form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-actions {
  display: flex;
  align-items: center;
}

.call-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4f83e1;
  padding: 0;
  margin: 0;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #7899c6;
  overflow-y: hidden;
  height: 100dvh;
}

button[type='submit'] {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

.messages-list {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: scroll;
}

.messages-list > *:last-child {
  margin-bottom: 10px;
}

.message-item {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.message-item.others {
  justify-content: flex-start;
}

.message-item.me {
  justify-content: flex-end;
  margin-right: 10px;
}

.message-avatar {
  align-self: flex-start;
}

.message-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-content {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px 10px;
  max-width: calc(60% - 50px);
  word-wrap: break-word;
  height: fit-content;
  white-space: pre-wrap;
}

.message-item.me .message-content {
  background-color: #85ff49;
}

.message-item.me .user-icon {
  display: none;
}

.timestamp {
  padding: 5px;
  align-self: flex-end;
  color: #555555;
}
