.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.chat-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-actions {
  display: flex;
  align-items: center;
}

.call-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4f83e1;
  padding: 0;
  margin: 0;
}

.chat-container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 844px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #4f83e1;
}

/* PC and tablet screen */
@media screen and (min-width: 768px) {
  .chat-container {
    width: 50%;
    max-width: 50%;
    height: 100vh;
    margin: 0 auto;
  }
}

/* iPhone 12 Pro screen */
@media screen and (min-width: 390px) and (max-width: 391px) and (min-height: 844px) and (max-height: 845px) {
  .chat-container {
    width: 390px;
    height: 844px;
  }
}

.input-form {
  display: flex;
  padding: 10px;
  flex-shrink: 0;
  background-color: white;
}

input[type='text'] {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  background-color: #f3efef;
}

button[type='submit'] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

button[type='submit']:hover {
  background-color: #45a049;
}

.messages-list {
  flex: 1;
  overflow-y: scroll;
  list-style-type: none;
}

.message-item {
  display: flex;
  margin-bottom: 10px;
}

.message-item.others {
  justify-content: flex-start;
}

.message-item.me {
  justify-content: flex-end;
}

.message-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.message-content {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-item.me .message-content {
  background-color: #85ff49;
}

.message-item.me .user-icon {
  display: none;
}
